<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>
        <%= myTitle %>
    </title>
    <style>
    </style>
</head>

<body>
    <!-- HEADER -->
    <%- include('../Components/header.ejs',{current:''}) %>
        <!-- MAIN -->
        <main>
            <% if (resArr.length === 0) { %>
                <% if (searchText.length === 0 ) { %>
                    <div class="no-data">
                        <h1 class="info">please write the name you search in the search text</h1>
                        <a href="/"><div class="btn light-btn">return to home</div></a>
                    </div>
                <% } %>
                <% if (searchText.length !== 0 ) { %>
                    <div class="no-data">
                        <h1 class="info">we didn't find any result about : " <%= searchText %> "</h1>
                        <a href="/"><div class="btn light-btn">return to home</div></a>
                    </div>
                <% } %>
            
            <% } %>

            <% if (resArr.length > 0) { %>
                <h1>all results about : <%= searchText %></h1>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>full name</th>
                            <th class="gender-td">gender</th>
                            <th class="country-td">country</th>
                            <th class="phone-td">phone</th>
                            <th class="date-td">last updated</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% resArr.forEach((el,index)=> { %>
                            <tr class="data">
                                <td scope="row">
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= el.first + ' ' + el.last %>
                                </td>
                                <td class="gender-td">
                                    <%= el.gender %>
                                </td>
                                <td class="country-td">
                                    <%= el.country %>
                                </td>
                                <td class="phone-td">
                                    <%= el.phone %>
                                </td>
                                <td class="date-td">
                                    <%= moment(el.updatedAt).fromNow() %>
                                </td>
                                <td class="flx-center gap-10 btnsBox">
                                    <a href="/view/<%= el._id %>">
                                        <div class="flx-center btnX" title="view">v</div>
                                    </a>
                                    <a href="/edit/<%= el._id %>">
                                        <div class="flx-center btnX" title="edit">e</div>
                                    </a>
                                    <form action="/edit/<%= el._id %>?_method=DELETE" method="post">
                                        <button type="submit" class="flx-center btnX" title="delete">d</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <a href="/"><div class="btn light-btn">show all data</div></a>
            <% } %>
        </main>
        <%- include('../Components/script.ejs') %>
</body>

</html>